#post_btn
{
    background-color:gray;
    border-color:gray;
}

#cancel_btn
{
    background-color:gray;
    border-color:gray;
}

#title
{
    background-color :#DDDDDD;
}

#content
{
    background-color : #DDDDDD;
}

