#cov
{
    z-index:50;
    width:100%;
    height:100%;
    background-color:bg-light;
}


#test {
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color: red;
    position: relative;

     /*Safari 4.0 - 8.0 */
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    text-align: center; 
    vertical-align: middle; 
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:50px; top:0px;}
    50%  {background-color:blue; left:50px; top:50px;}
    75%  {background-color:green; left:0px; top:50px;}
    100% {background-color:red; left:0px; top:0px;}
}


/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:50px; top:0px;}
    50%  {background-color:blue; left:50px; top:50px;}
    75%  {background-color:green; left:0px; top:50px;}
    100% {background-color:red; left:0px; top:0px;}
}


#post_list div:nth-child(odd)
{
    background-color:white;
}

#post_list div:nth-child(even)
{
    background-color:rgb(167, 163, 163);
}


.bottom
{
    position: fixed;
    bottom:20px;
    right:20px;
}



#writearti
{
    width:100px;
    height:100px;
    border-style:dashed;
    border-radius:50%;
    background-color:white;
    position: absolute;
    bottom:50px;
    right:30px;
    box-shadow:2px 2px 2px 2px;
}



  
  