
#test {
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color: red;
    position: relative;

     /*Safari 4.0 - 8.0 */
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    text-align: center; 
    vertical-align: middle; 
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:50px; top:0px;}
    50%  {background-color:blue; left:50px; top:50px;}
    75%  {background-color:green; left:0px; top:50px;}
    100% {background-color:red; left:0px; top:0px;}
}


/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:50px; top:0px;}
    50%  {background-color:blue; left:50px; top:50px;}
    75%  {background-color:green; left:0px; top:50px;}
    100% {background-color:red; left:0px; top:0px;}
}

#usersheet{
    position: absolute;
    background-color:rgba(212, 208, 208, 0.767);
    width:120px;
    height : 500px;
    margin-top:0px;
    margin-left:0px;
    text-align:center;
}
#content{
    background-color:rgba(212, 208, 208, 0.767);
    margin-left:120px;
    height : 500px;
    font-size:20px;
}

#tit{
    background-color:rgba(212, 208, 208, 0.767);
    margin-left:120px;
    height:100px;
    font-size:20px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */    
}

#cover{
    position: absolute;
    width: 120px;
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;
    background-color:rgba(212, 208, 208, 0.767);
}




